name: CI/CD Pipeline

on:
  push:
    branches: ['main', 'dev', 'feature/ci-cd']
  # pull_request:
  # branches: ['main', 'dev', 'feature/ci-cd']

env:
  REGISTRY: ghcr.io
  # ghcr.io/OWNER/IMAGE_NAME
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'

      - name: Install dependencies
        run: npm install

      - name: Check formatting with Prettier
        run: npx prettier --check .

      - name: Type check
        run: npm run typecheck

      # 테스트 자동화는 추후 구현 예정.
      # - name: Run tests
      #   run: npm test

      - name: Build TypeScript
        run: npm run build

      - name: Build Docker image
        run: docker build . -t $IMAGE_NAME --target production

  deploy:
    # 'main' 브랜치 push, 또는 'feature/ci-cd' 브랜치의 push/pr일 때 실행
    # if: github.ref_name == 'main' || github.ref_name == 'dev' || github.ref_name == 'feature/ci-cd'
    needs: build-and-test
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write # ghcr.io 에 푸시하기 위해 필요.

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          target: production
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

      # - name: Deploy to Server
      #   uses: appleboy/ssh-action@master
      #   with:
      #     host: ${{ secrets.SERVER_HOST }}
      #     username: ${{ secrets.SERVER_USERNAME }}
      #     key: ${{ secrets.SSH_PRIVATE_KEY }}
      #     port: ${{ secrets.SERVER_PORT || 22 }}
      #     script: |
      #       docker pull ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:main
      #       docker stop <your_container_name>
      #       docker rm <your_container_name>
      #       docker run -d --name <your_container_name> -p 3000:3000 \
      #         -e DATABASE_URL=${{ secrets.DATABASE_URL }}
      #         ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:main

      #     script: |
      #       # 운영용 .env 파일이 서버에 이미 존재한다고 가정
      #       cd /path/to/your/project
      #       docker-compose pull backend
      #       docker-compose up -d --no-deps backend # 의존성(db)은 건드리지 않고 backend 서비스만 재시작
